.post-title {
    margin: 10px auto;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid rgb(13, 248, 228);
    border-radius: 5px;
    background-color: rgb(134, 255, 245);
    display: block;
    width: calc(50% - 20px);
    box-sizing: border-box;
}


#tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 74, 69);
    padding: 10px 0;

.tab {
    padding: 10px 20px; 
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(145, 205, 227);
}

.tab:hover {
    background-color: #e0e0e0;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 10px 0;
}




